* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #000;
}
.window{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.window>img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: scale(1.6);
    animation: window_img 1s ease-out forwards;
}
#canvas{
    position: absolute;
    width: 100%;
    height: 100vh;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.table{
    width: 100%;
    height: 20vh;
    position: relative;
}
i .icon{
    width: 30px; height: 30px;
    vertical-align: -0.15em;
    fill: currentColor;
    color: #fff;
    overflow: hidden;
}
.bg{
    position: relative;
    width: 100%;
    height: 100vh;
    user-select: none;
}
.bg h1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    letter-spacing: 10px;
    font-weight: 100;
    font-size: 100px;
    z-index: 1;
    opacity: 0;
    animation: bg_h1 0.5s ease-out forwards;
}
.bg p{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    letter-spacing: 10px;
    font-weight: 100;
    font-size: 20px;
    z-index: 1;
    opacity: 0;
    animation: bg_p 0.5s ease-out forwards 0.3s;
}
.bg h5{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    letter-spacing: 10px;
    font-weight: 100;
    font-size: 10px;
    z-index: 1;
    opacity: 0;
    animation: bg_h5 0.3s ease-out forwards 0.6s;
}
.bg h6{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    letter-spacing: 10px;
    font-weight: 100;
    font-size: 10px;
    z-index: 1;
    opacity: 0;
    animation: bg_h6 0.3s ease-out forwards 0.6s;
}
.bg i:nth-child(4){
    z-index: 1;
    color: #fff;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    animation: bg_i 1s infinite;
}
.bg i:nth-child(5){
    z-index: 1;
    color: #fff;
    position: absolute;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    animation: bg_i 1s 0.5s infinite;
}

/*设置动画*/
@keyframes bg_h1{
    from{
        top: 70%;
        opacity: 0;
    }
    to{
        top: 30%;
        opacity: 1;
    }
}
@keyframes bg_h5{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes bg_h6{
    from{
        top: 100%;
        opacity: 0;
    }
    to{
        top: 80%;
        opacity: 1;
    }
}
@keyframes bg_p{
    from{
        top: 80%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
@keyframes window_img{
    from{
        transform: scale(1.6);
    }
    to{
        transform: scale(1);
    }
}
@keyframes bg_i{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*下半部分*/
.up i:nth-child(1){
    z-index: 1;
    color: #fff;
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    animation: bg_i 1s 0.5s infinite;
}
.up i:nth-child(2){
    z-index: 1;
    color: #fff;
    position: absolute;
    top: 102vh;
    left: 50%;
    transform: translateX(-50%);
    animation: bg_i 1s infinite;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}
.container .con{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    /*背景毛玻璃效果*/
    backdrop-filter: blur(15px);
    /*网格布局*/
    /*对于灰色部分的盒子做网格布局*/
    display: grid;
    /*设置4列，每列占一个单位的宽厚*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;

}
.container .btn-choose .icon {
    width: 50px; height: 50px;
    vertical-align: -0.15em;
    color: #fff;
    fill: currentColor;
    overflow: hidden;
}
.btn-choose {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}
.btn-choose:hover {
    transform: rotate(90deg);
}
.box-choose {
    position: absolute;
    top: 150%;
    left: 91%;
    transform: translate(-50%,-50%);
    background: #f1f1f1;
    width: 200px;
    transition: 1s;
}
.box-choose-show {
    top: 22%;
}
.box-choose h2 {
    background: #2c3e50;
    padding: 10px;
    font-size: 9px;
    color: white;
    text-transform: uppercase;
}
.box-choose-c {
    padding: 10px 20px;
    overflow: hidden;
}
.txtb {
    position: relative;
    margin-bottom: 10px;
}
#hex {
    width: 100px;
    padding: 0 30px;
    height: 20px;
    border: 1px solid #2c3e50;
}
.prev {
    width: 25px;
    height: 15px;
    position: absolute;
    top: 3.5px;
    left: 3px;
}
.apply {
    float: right;
    border: none;
    background: #2c3e50;
    text-transform: uppercase;
    padding: 3px 15px;
    color: white;
    cursor: pointer;
}
.container .box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.5s;
}
.container .box:hover{
    border: 1px solid rgba(255, 255, 255, 1);
    transition: border 0.5s;
}
.container .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container .con .icon {
    width: 80px; height: 80px;
    vertical-align: -0.15em;
    color: #fff;
    fill: currentColor;
    overflow: hidden;
}
svg {
    width: 0;
    height: 0;
}
.loader-wrapper {
    position: absolute;
    top: 200px;
    left: 42%;
}
.loader {
    position: relative;
    width: 200px;
    height: 200px;
    filter: url('#gooey');
}
.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(0.2s * var(--i));
}
.loader span:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 30px #03a9f4;
    background: linear-gradient(#fce4ec,#03a9f4);
}
#rectangle {
    position: absolute;
    top: 200px;
    width: 200px;
    height: 75px;
    background: linear-gradient(#fce4ec,#03a9f4);
}
#tranfont {
    position: absolute;
    top: 210px;
    font-size: 3em;
    color: white;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    50%,100% {
        transform: rotate(360deg);
    }
}