* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    background: #d1ebff;
    border-radius: 10px;
}
.swiper-slide-active {
    filter: blur(0px);
    background: #fff;
}
.testimonialBox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}
.testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}
.testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 70px;
}
a {
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
}
a::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 200%;
    border-radius: 50px;
    filter: blur(5px);
    z-index: -1;
}
a:hover::before {
    animation: change 2s infinite;
}
a:hover {
    animation: change 2s infinite;
}
@keyframes change {
    100%{
        background-position: -200% 0;
    }
}